@import "../themes/themes.scss";

.heading {
  color: $primary-light;
  margin-bottom: $m-lg;
}

.heading--big {
  font-size: $fs-ms;
}

.heading-side {
  margin-bottom: $m-md;
  font-size: $fs-lg;
  color: inherit;
}
