$primary: #2fb1c2;
$primary-light: #5bdfdf;
$primary-dark: #157891;
$grey: #384346;
$grey-light: #5f6b6b;
$grey-lighter: #d3dddd;
$grey-dark: #232829;
$warning: #9c8441;
$success: #2fc29d;
$white: #fff;
$black: #000;
