// Margins

$m-sm: 1rem;
$m-md: 2rem;
$m-lg: 4rem;
$m-xl: 6rem;
$m-ms: 9rem;

// Paddings

$p-sm: 1rem;
$p-md: 2rem;
$p-lg: 4rem;
$p-xl: 6rem;
$p-ms: 9rem;

// Radius

$r-sm: 5px;
$r-md: 12px;
$r-lg: 20px;
$r-xl: 100px;
$r-ms: 200px;

// Font-family

$ff-kufi: "Noto Kufi Arabic", sans-serif;
$ff-cairo: "Cairo", sans-serif;

// Font-Sizes

$fs-sm: 1.3rem;
$fs-md: 2rem;
$fs-lg: 3.2rem;
$fs-xl: 4.6rem;
$fs-ms: 6rem;

// Font-Weights

$fw-xs: 100;
$fw-sm: 200;
$fw-md: 400;
$fw-lg: 500;
$fw-xl: 700;
