@use "@/Styles/themes/colors" as *;
.header {
  position: relative;
  min-height: 6rem;
  background-color: $grey;
  color: $grey-lighter;
  &__nav {
  }

  &__logo {
    position: absolute;
    width: 5rem;
    height: 4rem;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
