@use "@/Styles/themes/themes" as *;
.form {
  &__body {
    background-color: $grey-lighter;
    border-radius: 6rem 2rem;
    margin-bottom: $m-md;
  }
  // padding: 1px;
  max-width: 45rem;
  &__header {
    text-align: center;
  }
}
