@use "./base/utilities";
@use "./base/base";
@use "./themes/colors";
@use "./themes/measures" as *;
@use "./themes/mixins";

.item {
  display: flex;
  align-items: center;
  > *:first-child {
    margin-inline-end: $m-sm;
  }
}
